.mandelbrot-viewer-container {
  width: 100%;
  height: 100%;
}
@media screen and (orientation:portrait) {
  .mandelbrot-viewer-container{
    border-bottom: grey solid 1px;
  }
}
@media screen and (orientation:landscape) {
  .mandelbrot-viewer-container{
    border-right: grey solid 1px;
  }
}