



.about-container {
  max-width: 600px;
  margin-bottom: 30px;
}
.about-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
 
}