.options-container {
  width: 200px;
  background-color: azure;

  padding: 10px;
  line-height: 1.5rem;
}
.options-container > div {
  margin-bottom: 10px;
}
.settings-container {
  margin: 10px;
  z-index: 0;
}
.settings-collapsed {
  height: 0;
}

.settings-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
  transition: height 0.3s;
}

.settings-container > div  {
  margin-bottom: 10px;
}
.settings-container > div > div {
  margin-bottom: 10px;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(720deg);}
}

.settings-min-max {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:10px solid grey;
  transition: transform 0.3s;
  animation-timing-function: ease-in-out;
  transform: rotate(90deg); 
}

.settings-min-max-collapse {
  transition: transform 0.3s;
  transform: rotate(0deg);
  animation-timing-function: ease-in-out;
  transition-delay: 0.2s;
}
.blocker {
  position: absolute;
  height: 150vh;
  width: 150vw;
  margin: -50px;
  background-color: black;
  opacity: 0.5;
}
.blocker-collapse {
  display: none;
}
@media screen and (orientation:landscape) and (max-height: 600px) {
  .settings-boxes{
    flex-direction: row;
  }
  .settings-boxes > * {
    margin-left: 20px;
  }
}