.options-container {
  width: 200px;
  background-color: azure;

  padding: 10px;
  line-height: 1.5rem;
}
.options-container > div {
  margin-bottom: 10px;
}
.settings-container {
  margin: 10px;
  z-index: 0;
  display: flex;
}
.settings-collapsed {
  opacity: 0;
  transform: translateX(-20px);
  height: 0;
  margin: 0;
}

.settings-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
  transition: all 200ms;
  margin-left: 10px;
  min-height: 300px;
}

.settings-container > div  {
  margin-bottom: 10px;
}
.settings-container > div > div {
  margin-bottom: 10px;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(720deg);}
}

.settings-min-max {
  width: 30px; 
  height: 30px; 
  background-color: lightgray;
  border-radius: 30px;
  padding: 5px;
  transform: rotate(0deg);
  transition-duration: 300ms;
}

.settings-min-max:hover {
  background-color: lightgrey;
}

.settings-min-max-collapse {
  background-color: grey;
  transform: rotate(180deg);
}

@media screen and (orientation:landscape) and (max-height: 600px) {
  .settings-boxes{
    flex-direction: row;
  }
  .settings-boxes > * {
    margin-left: 20px;
  }
}